.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-container > * {
  width: 90%;
}

.modal-buttons {
  justify-content: center;
  position: relative;
  margin-top: 50px;
}

h3,h4 {
  color: #212529;
}
