<div class="container">
  <div class="row">
    <div class="col-xl-12 py-md-3 pl-md-5 bd-content">
      <button mat-flat-button color="primary" (click)="onAddEditMovie(null, false)">
        Add Movie
      </button>
      <div class="btn-group" style="float:right" role="group" aria-label="Basic example">
        <button type="button" (click)="viewMode='list'" class="btn btn-secondary">
          <i class="fas fa-list-ul"></i>
        </button>
        <button type="button" (click)="viewMode='cards'" class="btn btn-secondary">
          <i class="fas fa-th"></i>
        </button>
        <button type="button" (click)="viewMode='cards-horizontal'" class="btn btn-secondary">
          <i class="fas fa-grip-horizontal"></i>
        </button>
      </div>
      <hr>
      <movie-list *ngIf="viewMode==='list'"></movie-list>
      <movie-cards *ngIf="viewMode==='cards'"></movie-cards>
      <movie-cards-horizontal *ngIf="viewMode==='cards-horizontal'"></movie-cards-horizontal>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<footer></footer>