.bar{
    display: flex;
    justify-content: space-between;
    height: 2.5em;
}

.search-bar{
    /* min-width: 10em;
    max-width: 100em; */
    width:65%;
    padding-left: 5%;
    padding-right: 5%;
}